fastapi 
uvicorn
celery 
langchain 
langchain-community 
chromadb 
python-multipart 
aiofiles 
python-jose 
passlib 
bcrypt 
sqlalchemy 
psycopg2-binary 
redis 
pydantic
pymysql

filetype
langchain-openai
langchain-huggingface
sentence-transformers
langchain_groq
pypdf
mysqlclient
pymysql
